<header class="p1">
  <ul class="p1">
    <li>each day,</li>
    <li>when i first open my computer,</li>
    <li><a href="https://github.com/jondashkyle/photo-on-startup" target="_blank">it takes a picture of me</a>,</li>
    <li>and puts it here</li>
    <li><span class="arrow">↓</span></li>
  </ul>
</header>

<main class="">
  <% for (var slug in public._data) { %>
    <% var photo = public._data[slug] %>
    <div class="c6">
      <figure>
        <img data-src="<%- photo.image %>">
        <figcaption>
          <%- photo.date %><br/>
          <%- photo.time %>
        </figcaption>
      </figure>
    </div>
  <% } %>
</main>